<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aronb.energyclicker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rclicker_app_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rclicker_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".SolarUpgrades" />
        <activity android:name=".WindUpgrade" />
        <activity android:name=".HydroUpgrade" />
        <activity android:name=".Stats" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"></activity>

        <provider android:name="aronb.energyclicker.SettingProvider"
            android:authorities="aronb.energyclicker.provider.Settings">
        </provider>



    </application>

</manifest>